@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.btn:hover .icon {
    background-color: #0F0F0F;
    color: #C3FF62;
}

.swiper-button-prev::after, .swiper-button-next::after{
    color: white;
}

.heading-span{
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #1f1f1f 35%);
    line-height: 120%;
}

.content-service-overview , .team-box{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.card-testimonial{
    scrollbar-width: none;
}

.paused {
    animation-play-state: paused;
}


.card-box > div {
    animation: scroll 24s linear infinite;
}

.vertical-marquee {
    display: flex;
    flex-direction: column;
    animation: verticalScroll 35s linear infinite;
}

.team .swiper-pagination, .service .swiper-pagination{
    width: fit-content!important;
    margin: 0 auto;
    font-size: 35px;
    padding: 0px;
    border-radius: 20px;
    position: relative!important;
}

.swiper-pagination-bullet{
    background: #C3FF62!important;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active{
    background: #4045C1!important;
}

.swiper-button-prev, .swiper-button-next{
    position: relative;
    background-color: black;
    color: #C3FF62;
    border-width: 1px;
    border-color: #fff;
    padding: 5px 20px;
    border-radius: 50%;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    color: #0F0F0F;
    background-color: #4045C1;
    border-color: black;
}

.swiper-button-prev, .swiper-button-next, .swiper-button-prev::after, .swiper-button-next::after{
    font-size: 22px!important;
    
}

@keyframes verticalScroll {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}


@keyframes scroll {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 1280px){

    .company .img-2{
        background-position: center bottom;
    }

    .company .img-1, .company .img-2{
        background-repeat: no-repeat;
        background-size: cover;
    }
}

